<div class="product__form">
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Tag Name" [(ngModel)]="newTag.name" required>

        <label for="colorPicker">Choose a color:</label>
        <input type="color" id="colorPicker" name="color" [(ngModel)]="newTag.color" required>
    
        <button
            (click)="addTag()"
            class="button__success"
        >Add tag</button>
        <button
            (click)="navigateToProducts()"
            class="button__danger"
        >Back</button>
    </form>
</div>